/* Variables */

:root {
    --purple: #9D44B5;
    --lite-gray: #F8F9FA;
    --yellow: #ffee32;
}

/* Structure */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background: #466365;
    height: 100vh;
    font-family: 'helsinkiregular', Arial, Helvetica, sans-serif;
    
}

main {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wrapper {
    background-color: var(--lite-gray);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
    width: 70%;
    margin: 1.5rem auto;
    border-radius: 10px;
    box-shadow: .6rem .6rem darkgray;
}

#search-lbl {
    margin-bottom: 1rem;
}

#search-button {
    background-color: #9D44B5;
    color: whitesmoke;
    padding: .6rem;
    font-weight: bold;
    margin-left: .5rem;
    border-radius: 10px;
    cursor: pointer;
}



form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.upper-output {
    
    height: 260px;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#sprite-container {
    display: flex;
    
}

#sprite {
    width: 200px;
    margin: 0 auto;
}


table {
    border-spacing: .3rem;
    width: 100%;
}
td, th {
    background-color: #9D44B5;
    color: whitesmoke;
    padding: .35rem; 
    text-align: center;
}



/* Typography */ 
h1 {
    font-size: 2.6rem;
    color: whitesmoke;
}

/* Pokemon Types */
.types {
    padding: .4rem;
    border-radius: 4px;
    margin-left: .3rem;
    background-color: red;
    text-transform: uppercase;
    
}


.fighting {
    background-color: darkred;
}

.psychic {
    background-color: palevioletred;
}

.poison {
    background-color: purple;
}

.dragon {
    background-color: darkblue;
}

.ghost {
    background-color: darkcyan;
}

.dark {
    background-color: darkgrey;
}

.ground {
    background-color: orange;
}

.fire {
    background-color: orangered;
}

.fairy {
    background-color: plum;
}

.water {
    background-color: blue;
}

.flying {
    background-color: aqua;
}

.normal {
    background-color: gray;
}

.rock {
    background-color: burlywood;
}

.electric {
    background-color: yellow;
}

.bug {
    background-color: greenyellow;
}

.grass {
    background-color: green;
}

.ice {
    background-color: aqua;
}

.steel {
    background-color: steelblue;
}
